  /* Mobile Navigation */
  @media only screen and (min-width: 320px) and (max-width: 600px) {
    header {
      width: 100%;
      background-color: #ffffff;
      color: rgb(0, 0, 0);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 25px;
      position: sticky;
      top: 0;
      z-index: 1000;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }

    body {
      background-color: #c3b3fc3d;
    }

    .mn {
      position: relative;
      width: 100%;
      height: 41vh;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }

  }




  /* Mobile Navigation */
  @media (max-width: 768px) {
    nav {
      display: none;
      position: absolute;
      top: 60px;
      left: auto;
      right: 0%;
      width: auto;
      flex-direction: column;
      text-align: start;
      padding: 26px 19px 67px;
      border-radius: 0% 0% 0% 15%;

    }

    nav.active {
      display: flex;
    }

    .menu-btn {
      display: block;
    }
  }