  /* Mobile Navigation */
  @media only screen and (min-width: 320px) and (max-width: 600px) {


    body {
      background-color: #c3b3fc3d;
    }

    .mn {
      position: relative;
      width: 100%;
      height: 41vh;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }

  }




  /* Mobile Navigation */
  @media (max-width: 768px) {
    nav {
      display: none;
      position: absolute;
      top: 60px;
      left: auto;
      right: 0%;
      background-color: #0d6efd;
      width: auto;
      flex-direction: column;
      text-align: start;
      padding: 15px 10px;
      border-radius: 0% 0% 0% 15%;

    }

    nav.active {
      display: flex;
    }

    .menu-btn {
      display: block;
    }
  }